/* Container */
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Button */
  .google-btn {
    background-color: #131a26;
    color: white;
    padding: 5px 8px;
    cursor: pointer;
  }

  .mail-open {
    margin: 1px 10px 0 1px;
  }

  .google-btn:hover {
    background-color: whitesmoke;
    color: #131a26;
  }

  
  /* Caption list */
.caption-list {
  margin-top: 10px;
}

.caption-list-div {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 0;
  margin: 3px 0;
}

.caption-list-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 1rem;
}

