@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Fix/override .next/ layout.css */
@layer utilities {

  .container {
    width: 100%;
    max-width: 112rem; 
    margin: 0 auto; 
    padding: 0 1rem; 
  
    @media (width < 16rem) {
      max-width: 13rem;
    }
    @media (min-width: 16rem) {
      max-width: 20rem;
    }
    @media (min-width: 32rem) {
      max-width: 36rem;
    }
    @media (min-width: 48rem) {
      max-width: 48rem;
    }
    @media (min-width: 64rem) {
      max-width: 60rem;
    }
    @media (min-width: 80rem) {
      max-width: 76rem;
    }
    @media (min-width: 96rem) {
      max-width: 92rem;
    }
    @media (min-width: 112rem) {
      max-width: 108rem;
    }
  }
  
  b, strong {
    font-weight: bolder;
  }

  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --background: oklch(0.976 0 0);
  --foreground: oklch(0.141 0.013 264.69);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.013 264.69);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.013 264.69);
  --primary: oklch(0.55 0.25 0.899);
  --primary-foreground: oklch(0.98 0 0);
  --secondary: oklch(0.968 0.006 264.92);
  --secondary-foreground: oklch(0.381 0.025 264.92);
  --muted: oklch(0.968 0.006 264.92);
  --muted-foreground: oklch(0.663 0.012 264.96);
  --accent: oklch(0.968 0.006 264.92);
  --accent-foreground: oklch(0.381 0.025 264.92);
  --destructive: oklch(0.618 0.23 27.04);
  --destructive-foreground: oklch(0.98 0 0);
  --border: oklch(0.912 0.007 264.92);
  --input: oklch(0.912 0.007 264.92);
  --ring: oklch(0.60 0.25 0.899);
  --radius: 0.5rem;
  --profile: oklch(1 0 0); /* custom */
  --text: oklch(0 0 0); /* custom */
}

.dark {
  --background: oklch(0.141 0.013 264.69);
  --foreground: oklch(0.98 0 0);
  --card: oklch(0.185 0.013 264.69);
  --card-foreground: oklch(0.98 0 0);
  --popover: oklch(0.185 0.013 264.69);
  --popover-foreground: oklch(0.98 0 0);
  --primary: oklch(0.60 0.25 0.899);
  --primary-foreground: oklch(0.98 0 0);
  --secondary: oklch(0.262 0.006 264.92);
  --secondary-foreground: oklch(0.98 0 0);
  --muted: oklch(0.262 0.006 264.92);
  --muted-foreground: oklch(0.673 0.017 264.96);
  --accent: oklch(0.262 0.006 264.92);
  --accent-foreground: oklch(0.98 0 0);
  --destructive: oklch(0.376 0.17 27.04);
  --destructive-foreground: oklch(0.98 0 0);
  --border: oklch(0.262 0.006 264.92);
  --input: oklch(0.262 0.006 264.92);
  --ring: oklch(0.60 0.25 0.899);
  --profile: oklch(0.60 0.25 0.899); /* custom */
  --text: oklch(1 0 0); /* custom */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-profile: var(--profile); /* custom */
  --color-text: var(--text); /* custom */
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 700;
}

p,
span,
button,
input,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.ig-spacing-sm {
  margin: 8px;
  padding: 8px;
}

.ig-spacing-md {
  margin: 16px;
  padding: 16px;
}

.ig-spacing-lg {
  margin: 24px;
  padding: 24px;
}

/* Scrollbar width */
.short-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Scrollbar Thumb */
.short-scrollbar::-webkit-scrollbar-thumb {
  background: #e600a4;
  border-radius: 10px;
  min-height: 20px;
  min-width: 20px;
}

/* Scrollbar Track */
.short-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  margin-bottom: 21em;
}

.short-scrollbar::-webkit-scrollbar-track:horizontal {
  background: transparent;
  margin-right: 14em;
}

.font-mono {
  font-family: var(--font-geist-mono), monospace;
}

.font-sans {
  font-family: var(--font-geist-sans), sans-serif;
}

.list-circle li {
  list-style: circle;
}